<span class="table-of-contents-list">Python講座は色々な文で構成されている</span>
<ul class="table-of-contents-list">
    <li><a href="./python-basic">Python講座(1) - Python基本</a></li>
    <li><a href="./python-control-statement">Python講座(2) - Python条件分岐</a></li>
    <li><a href="./python-control-statement2">Python講座(3) - Python条件分岐2</a></li>
    <li><a href="./python-control-statement3">Python講座(4) - Python条件分岐3</a></li>
    <li><a href="./python-control-statement4">Python講座(5) -  Python Function</a></li>
    <li><a href="./python-control-statement5">Python講座(6) -  Python Function2</a></li>
    <li><a href="./python-control-statement6">Python講座(7) -  Python Function3</a></li>
    <li><a href="./python-control-statement7">Python講座(7) - Python Object</a></li>
</ul>